<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/Yo.jpg" alt="Aquí va una foto">
            </div>        
            <div class="detail">
                <h1>Leandro Germán Ojeda</h1>
                <p><strong>Profesión: </strong> Estudiante universitario de la carrera de grado "Contador Publico" </p>
                <p><strong>País: </strong>Argentina</p>
                <p><strong>Resenia: </strong> Apasionado por la informática y la programación web, con el tiempo libre atiende tu emprendimiento de impresiones en 3D tomando pedidos de artículos decorativos, articulos para Gamers, etc. Su objetivo es lograr incorporarse en el mundo laboral como Programador web Full Stack</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>